<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Questrial|Russo+One&amp;display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c7caeb49e9.js"></script>
  <link rel="stylesheet" type="text/css" href="/./styles/admin_plan.min.css">
  <title>Pcofthegod - Plan</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="../admin">
        <p>Pcofthegod</p></a></div>
    <ul class="nav-links"><a href="../admin">
        <li>Plans</li></a><a href="../admin">
        <li>Orders</li></a><a href="../admin">
        <li>Delivered</li></a><a href="../admin" onclick="pageViewer('settings')">
        <li id="settings-button">Settings</li></a></ul>
  </nav>
</body>
<script type="text/javascript" src="/./scripts/admin_plan.js"></script>