<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Questrial|Russo+One&amp;display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c7caeb49e9.js"></script>
  <link rel="stylesheet" type="text/css" href="/./styles/admin.min.css">
  <title>Pcofthegod - Admin</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="#plans" rel="internal" onclick="pageViewer('plans')">
        <p>Pcofthegod</p></a></div>
    <ul class="nav-links"><a href="#plans" rel="internal" onclick="pageViewer('plans')">
        <li>Plans</li></a><a href="#orders" rel="internal" onclick="pageViewer('orders')">
        <li>Orders</li></a><a href="#sent" rel="internal" onclick="pageViewer('delivered')">
        <li>Delivered</li></a><a href="#settings" rel="internal" onclick="pageViewer('settings')">
        <li id="settings-button">Settings</li></a></ul>
  </nav>
  <section id="plans"><img src="/./images/red gaming setup5.jpg" alt="Red gaming setup">
    <h1>New Plans</h1>
    <div class="container"><a href="./admin/undefined" class="plan">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget : $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="plan">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="plan">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="plan">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="plan">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a></div>
  </section>
  <section id="orders"><img src="/./images/red gaming setup5.jpg" alt="Red gaming setup">
    <h1>New Orders</h1>
    <div class="container"><a href="./admin/undefined" class="order">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget : $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="order">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="order">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="order">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="order">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a></div>
  </section>
  <section id="delivered"><img src="/./images/red gaming setup5.jpg" alt="Red gaming setup">
    <h1>Delivered Computers</h1>
    <div class="container"><a href="./admin/undefined" class="delivered">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget : $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="delivered">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="delivered">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="delivered">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a><a href="./admin/undefined" class="delivered">
        <h3>undefined undefined</h3>
        <h4 class="country"></h4>
        <p class="budget">Budget: $undefined</p>
        <p class="sent"></p></a></div>
  </section>
  <section id="settings"><img src="/./images/red gaming setup5.jpg" alt="Red gaming setup">
    <h1>Settings</h1>
    <div class="container"></div>
  </section>
</body>
<script type="text/javascript" src="/./scripts/admin.js"></script>